.carousel {
    max-width: 600px;
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 20%, 
        white 80%, 
        transparent
        );
    mask: linear-gradient(
        90deg,
        transparent,
        white 20%, 
        white 80%, 
        transparent
        );

}

.carousel-track {
    width: max-content;
    padding-block: 1rem;
    display: flex;
    align-items: center;
    animation: scroll 20s linear infinite;
    
    
}

.carousel-item {
    
    gap: 1em;
    flex: 0 0 5em;
    width: 10em;       /* set your present size */
    height: 5em;      /* keeps aspect ratio */
    margin: 0 20px;
    padding: 1em;    /* spacing between logos */
    object-fit: contain;
    overflow-x: auto;

}

@keyframes scroll {
  to   { transform: translateX(-50%); }
}