.carousel {
    max-width: 50%;
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 20%, 
        white 80%, 
        transparent
        );
    mask: linear-gradient(
        90deg,
        transparent,
        white 20%, 
        white 80%, 
        transparent
        );

}

.carousel-track {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    flex-wrap: nowrap  ;
    animation: scroll 20s linear infinite;
    
    
}

.carousel-item {
    
    flex: 0 0 5em;
    width: 10em;       /* set your present size */
    height: 5em;      /* keeps aspect ratio */
    padding: 25px;    /* spacing between logos */
    object-fit: contain;
    overflow-x: auto;


}

@keyframes scroll {
  to   { transform: translateX(-50%); }
}