.project-card {
    background-color: #2f2e30;
    border-radius: 10px;
    padding: 30px;
    width: 50%;
    height:50%;
    box-shadow: 0 20px 36px rgba(60, 83, 209, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; 
    position: relative;
    transition: all 0.3s ease;
    
}
.project-image {
    border: blueviolet solid 2px;
    width: 55%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    
}
.project-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center
}