
.devops-card {
    background-color: #2f2e30;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    height: 200px;
    box-shadow: 0 20px 36px rgba(60, 83, 209, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; 
}

.devops-card:hover {
    box-shadow: 0 30px 50px rgba(60, 83, 209, 0.4);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}