.container-card {
  background: #1a1a1a; /* dark glossy background */
  color: white;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
.title {
  font-size: 30px;
  font-weight: bold;
}
.description {
  font-size: 20px;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  color:  hsl(0, 0%, 84%);
  margin-top: 10px;
  text-align: left;
}
.info-card {
  display: flex;
  justify-content: center;
  align-items: center;

}